body {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: whitesmoke;
    margin:0;
    -webkit-appearance: none;
}

body:focus {
    outline: none;
}

h1 {
    margin:0;
}

input {
    min-height: 20px;
}

.shuffle-list-header{
    margin: 8px 0px;
    text-decoration: underline;
    font-weight: bold;
}

.jumbotron {
    padding: 10px;
    background-color: navy;
    color: white;
}

.shuffler-row {
    width: 100%;
    margin: 10px 0;
}

button {
    border-style: solid;
    border-radius: 4px;
    margin: 0 2px;
    padding: 4px 4px;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline:none;
    box-shadow: 2px 2px 3px grey;
}

.btn-green {
    border-color: green;
    background-color: green;
    color: white;
}

.btn-blue {
    border-color: navy;
    background-color: navy;
    color: white;
}

.btn-red {
    border-color: red;
    background-color: red;
    color: white;
}

.link-icon {
    height: 25px;
    width: 25px;
}

.link-icon:hover {
    cursor: pointer;
}

#shuffled-items {
    background-color: white;
    width: 80%;
    min-height: 100px;
    margin: 0 10% 10% 10%;
    padding: 1px;
    border-radius: 4px;
    box-shadow: 2px 2px 3px grey;
}